name: Deploy (develop)
on:
  workflow_dispatch:
    inputs:
      deployVersion:
        description: Docker image tag to deploy
        required: true

jobs:
  deploy-develop:
    permissions: read-all
    uses: ./.github/workflows/deploy_reusable_workflow.yml
    with:
      deployVersion: ${{ github.event.inputs.deployVersion }}
      environment: develop
      environment_url: https://bakery-develop.smolkov.spb.ru
    secrets: inherit